extends layout_admin

block content
    div#waiting.section.full-section.container
        h2 Réservations en attente
        div.row
            //div.card-panel
            table.tab-bookings-list.centered.highlight&attributes({'id': 'tab-bookings-list'})
                thead
                    tr
                        th HEURE
                        th ZONE
                        th LIGNE
                        th PERSONNE
                        th VELOS
                        th DEPART
                        th ARRIVEE
                        th CONFIRMÉ
                        th EMAIL
                        th TELEPHONE
                    tbody
                        each zone in bookinglist
                            each line in zone.Lines
                                each group in line.Trips
                                    each trips, starthour in group
                                        each trip in trips
                                            tr
                                                td= trip.startHour
                                                td= zone.name
                                                td
                                                    span.highlight-line=line.id
                                                td= trip.Booking.lastname + " " + trip.Booking.firstname
                                                td= trip.Booking.nbBikes
                                                td= trip.departureStationTrip.name
                                                td= trip.terminalStationTrip.name
                                                if(trip.Booking.validated == false)
                                                    td
                                                        button.waves-effect.waves-light.btn(onclick=`acceptBooking(${JSON.stringify(trip.Booking.id)}, ${JSON.stringify(trip.Booking.firstname)}, ${JSON.stringify(trip.Booking.lastname)}, ${JSON.stringify(trip.Booking.group)}, ${JSON.stringify(trip.departureStationTrip.name)}, ${JSON.stringify(trip.terminalStationTrip.name)}, ${JSON.stringify(trip.startHour)}, ${JSON.stringify(trip.Booking.nbBikes)}, ${JSON.stringify(trip.Booking.token)}, ${JSON.stringify(trip.Booking.email)})`)
                                                            i.material-icons check

                                                        button.waves-effect.waves-light.btn.red(onclick=`refuseBooking(${JSON.stringify(trip.Booking.id)}, ${JSON.stringify(trip.Booking.firstname)}, ${JSON.stringify(trip.Booking.lastname)}, ${JSON.stringify(trip.Booking.group)}, ${JSON.stringify(trip.departureStationTrip.name)}, ${JSON.stringify(trip.terminalStationTrip.name)}, ${JSON.stringify(trip.startHour)}, ${JSON.stringify(trip.Booking.nbBikes)}, ${JSON.stringify(trip.Booking.token)}, ${JSON.stringify(trip.Booking.email)})`)
                                                            i.material-icons clear
                                                else
                                                    td
                                                        | accepté
                                                td= trip.Booking.email
                                                td= trip.Booking.phone