extends layout_admin

block content
    div#zone.section.full-section.container
        h2 #{translation.USERHEAD}
            div.row.center-align
                div.col.s4.right
                    a(href="#modal-add-user").btn-floating.btn-large.waves-effect.waves-light.modal-trigger
                        i.material-icons add
        div.row
            table.centered.highlight.tab-scroll#tab-users
                thead
                    tr
                        th #{translation.USERTABID}
                        th #{translation.USERTABUSER}
                        th #{translation.USERTABMAIL}
                        th #{translation.USERTABROLE}
                        th #{translation.USERTABZONE}
                        th #{translation.USERTABMODIFY}
                        th #{translation.USERTABDELETE}
                tbody
                    each user in users
                        tr
                            td= user.id
                            td= user.username
                            td= user.email
                            td= user.role
                            td= user.zone
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modal-edit-user", data-id=user.id, data-username=user.username, data-email=user.email, data-idrole=user.idRole, data-idzone=user.idZone)
                                    i.material-icons edit
                            td
                                if(session.username != user.username)
                                    button.waves-effect.waves-light.btn(onclick=`deleteUser(${user.id})`)
                                        i.material-icons delete

    //ADD MODAL
    div(id="modal-add-user").modal.modal-fixed-footer
        div.modal-content
            h4 #{translation.USERADDHEAD}
            div.row
                form#add-user-form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="user-add-username", name="username", type="text", required="required", aria-required="true").validate
                            label(for="user-add-username") #{translation.USERADDUSER}
                        div.input-field.col.s12
                            input(id="user-add-email", name="email", type="email", required="required", aria-required="true").validate
                            label(for="user-add-email") #{translation.USERADDMAIL}
                        div.input-field.col.s6
                            input(id="user-add-password", name="password", type="password", required="required", aria-required="true").validate
                            label(for="user-add-password") #{translation.USERADDPSW}
                        div.input-field.col.s6
                            input(id="user-add-password2", name="password2", type="password", required="required", aria-required="true").validate
                            label(for="user-add-password2") #{translation.USERADDPSW2}
                        div.input-field.col.s12
                            select(name="role", required="required")#user-add-role.validate
                                option(value="", disabled="disabled", selected="selected") #{translation.USERADDCHOOSEROLE}
                                each role in roles
                                    option(value=`${role.id}`)=role.name
                            label(for="user-add-role") #{translation.USERADDROLE}
                        div.input-field.col.s12
                            select(name="zone", required="required")#user-add-zone.validate
                                option(value="", disabled="disabled", selected="selected") #{translation.USERADDCHOOSEZONE}
                                each zone in zones
                                    option(value=`${zone.id}`)=zone.name
                            label #{translation.USERADDZONE}
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text #{translation.USERADDCANCEL}
            button(onclick="createUser()", type="submit", for="#add-user-form").btn.waves-effect.waves-light.modal-action #{translation.USERADDVALIDATE}
                i.material-icons.right send

    //MODIFY MODAL
    div(id="modal-edit-user").modal.modal-fixed-footer.modal-edit-user
        div.modal-content
            h4 #{translation.USERMODIFYHEAD}
            div.row
                form#edit-user-form.col.s12
                    div.input-field.col.s12
                        input(id="user-edit-id", name="id", type="text", disabled="disabled").validate
                        label(for="user-edit-id", disabled="disabled") #{translation.USERMODIFYID}
                    div.input-field.col.s12
                        input(id="user-edit-username", name="username", type="text", disabled="disabled").validate
                        label(for="user-edit-username", disabled="disabled") #{translation.USERMODIFYUSER}
                    div.input-field.col.s12
                        input(id="user-edit-email", name="email", type="email", required="required", aria-required="true").validate
                        label(for="user-edit-email") #{translation.USERMODIFYMAIL}
                    div.input-field.col.s6
                        input(id="user-edit-chpassword", name="chpassword", type="password").validate
                        label(for="user-edit-chpassword") #{translation.USERMODIFYPSW}
                    div.input-field.col.s6
                        input(id="user-edit-chpassword2", name="chpassword2", type="password").validate
                        label(for="user-edit-chpassword2") #{translation.USERMODIFYPSW2} Confirmer le mot de passe
                    div.input-field.col.s12
                        select(name="role", required="required")#user-edit-role.validate
                            option(value="", disabled="disabled", selected="selected") #{translation.USERMODIFYCHOOSEROLE}
                            each role in roles
                                option(value=`${role.id}`)=role.name
                        label(for="user-edit-role") #{translation.USERMODIFYROLE}
                    div.input-field.col.s12
                        select(name="zone", required="required")#user-edit-zone.validate
                            option(value="", disabled="disabled", selected="selected") #{translation.USERMODIFYCHOOSEZONE}
                            each zone in zones
                                option(value=`${zone.id}`)=zone.name
                        label #{translation.USERMODIFYZONE}
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text #{translation.USERMODIFYCANCEL}
            button(onclick="updateUser()", type="submit", for="#edit-user-form").btn.waves-effect.waves-light.modal-action #{translation.USERMODIFYSAVE}
                i.material-icons.right done
