extends layout_admin

block content
    div#zone.section.full-section.container
        h2 Utilisateurs
            div.row.center-align
                div.col.s4.right
                    a(href="#modal-add-user").btn-floating.btn-large.waves-effect.waves-light.modal-trigger
                        i.material-icons add
        div.row
            table.centered.highlight.tab-scroll#tab-users
                thead
                    tr
                        th ID
                        th USERNAME
                        th EMAIL
                        th ROLE
                        th ZONE
                        th MODIFIER
                        th SUPPRIMER
                tbody
                    each user in users
                        tr
                            td= user.id
                            td= user.username
                            td= user.email
                            td= user.role
                            td= user.zone
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modal-edit-user", data-id=user.id, data-username=user.username, data-email=user.email, data-idrole=user.idRole, data-idzone=user.idZone)
                                    i.material-icons edit
                            td
                                button.waves-effect.waves-light.btn(onclick=`deleteUser(${user.id})`)
                                    i.material-icons delete

    //ADD MODAL
    div(id="modal-add-user").modal.modal-fixed-footer
        div.modal-content
            h4 Ajouter un utilisateur
            div.row
                form#add-user-form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="user-add-username", name="username", type="text", required="required", aria-required="true").validate
                            label(for="user-add-username") Username
                        div.input-field.col.s12
                            input(id="user-add-email", name="email", type="email", required="required", aria-required="true").validate
                            label(for="user-add-email") Email
                        div.input-field.col.s6
                            input(id="user-add-password", name="password", type="password", required="required", aria-required="true").validate
                            label(for="user-add-password") Mot de passe
                        div.input-field.col.s6
                            input(id="user-add-password2", name="password2", type="password", required="required", aria-required="true").validate
                            label(for="user-add-password2") Confirmer le mot de passe
                        div.input-field.col.s12
                            select(name="role", required="required")#user-add-role.validate
                                option(value="", disabled="disabled", selected="selected") Choisir un r么le
                                each role in roles
                                    option(value=`${role.id}`)=role.name
                            label(for="user-add-role") R么le
                        div.input-field.col.s12
                            select(name="zone", required="required")#user-add-zone.validate
                                option(value="", disabled="disabled", selected="selected") Choisir une zone
                                each zone in zones
                                    option(value=`${zone.id}`)=zone.name
                            label Zone
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            button(onclick="createUser()", type="submit", for="#add-user-form").btn.waves-effect.waves-light.modal-action valider
                i.material-icons.right send

    //MODIFY MODAL
    div(id="modal-edit-user").modal.modal-fixed-footer.modal-edit-user
        div.modal-content
            h4 Modifier
            div.row
                form#edit-user-form.col.s12
                    div.input-field.col.s12
                        input(id="user-edit-id", name="id", type="text", disabled="disabled").validate
                        label(for="user-edit-id", disabled="disabled") Id
                    div.input-field.col.s12
                        input(id="user-edit-username", name="username", type="text", disabled="disabled").validate
                        label(for="user-edit-username", disabled="disabled") Username
                    div.input-field.col.s12
                        input(id="user-edit-email", name="email", type="email", required="required", aria-required="true").validate
                        label(for="user-edit-email") Email
                    div.input-field.col.s6
                        input(id="user-edit-chpassword", name="chpassword", type="password").validate
                        label(for="user-edit-chpassword") Change votre mot de passe
                    div.input-field.col.s6
                        input(id="user-edit-chpassword2", name="chpassword2", type="password").validate
                        label(for="user-edit-chpassword2") Confirmer le mot de passe
                    div.input-field.col.s12
                        select(name="role", required="required")#user-edit-role.validate
                            option(value="", disabled="disabled", selected="selected") Choisir un r么le
                            each role in roles
                                option(value=`${role.id}`)=role.name
                        label(for="user-edit-role") R么le
                    div.input-field.col.s12
                        select(name="zone", required="required")#user-edit-zone.validate
                            option(value="", disabled="disabled", selected="selected") Choisir une zone
                            each zone in zones
                                option(value=`${zone.id}`)=zone.name
                        label Zone
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            button(onclick="updateUser()", type="submit", for="#edit-user-form").btn.waves-effect.waves-light.modal-action sauvegarder
                i.material-icons.right done
