extends layout

block content
    div.section.container.full-section
        h2 #{translation.CLIENTDELETETITLE}
        div#booking-client.row
            button.waves-effect.waves-light.btn.red.right(onclick=`refuseBookingFromClient(${JSON.stringify(booking.token)})`) #{translation.CLIENTDELETEDELETE}
                i.material-icons.left clear
            table.centered.highlight.responsive-table
                thead
                    tr
                        th #{translation.CLIENTDELETEFIRSTNAMELASTNAME}
                        th #{translation.CLIENTDELETEEMAIL}
                        th #{translation.CLIENTDELETEPHONE}
                        th #{translation.CLIENTDELETEDATE}
                        th #{translation.CLIENTDELETEBIKES}
                        th #{translation.CLIENTDELETEDEPARTURE}
                        th #{translation.CLIENTDELETETERMINAL}
                tbody
                    tr
                        td #{booking.lastname} #{booking.firstname} #{booking.group}
                        td #{booking.email}
                        td #{booking.phone}
                        td #{booking.date}
                        td #{booking.nbBikes}
                        td #{booking.departureStationBooking.name}
                        td #{booking.terminalStationBooking.name}

