extends layout

block content

    div#home.parallax-container.parallax-container1
        div.parallax
            img(src="images/background-bike6.jpg")
            h3#slogan-top.center-align.front
                span #{translation.SLOGAN1} <br /> #{translation.SLOGAN2}
            div.col.s12.center-align
                button(href="#book").scroll-to.waves-effect.waves-light.btn-large.home-button.ebony-clay #{translation.BTNBOOK}
                    i.material-icons.left location_on
    div.section.ebony-clay.small-section-index
        a(href="#presentation").scroll-to
            i.material-icons.scroll-arrow.bounce.center-align.white-text keyboard_arrow_down

    div#presentation.section.white.container.full-section-index
        h2.header #{translation.HOMEHEAD}
        div.margin-partenaire.row
            div.col.s12
                p #{translation.HOMEMAIN1}
                br
                h5 #{translation.HOMEPARTENAIRE}
                p #{translation.HOMEMAIN2}

        div.row
            div.col.s4
                img(src="images/hes-so.png").img-partenaire
            div.col.s4
                img(src="images/poste.jpg").img-partenaire
            div.col.s4
                img(src="images/logo.jpg").img-partenaire

    div.parallax-container
        div.parallax
            img(src="images/background-bike.jpg")

    div#about.section.white.container.full-section-index
        div.row
            div.col.s4
                h2.header #{translation.ABOUTHEAD}
            div.col.s8
                i(id="icone-bike").material-icons.prefix.medium.right-align directions_bike
        div.row
            div.col.s4
                h3.center-align 2014
                p #{translation.MAINABOUT1}
            div.col.s4
                h3.center-align 2015
                p #{translation.MAINABOUT2}
            div.col.s4
                h3.center-align 2016
                p #{translation.MAINABOUT3}
        div.row
            div.col.s4
                h4.date-color 876
                h5.center-align #{translation.BIKE2014}
            div.col.s4
                h4.date-color  1624
                h5.center-align #{translation.BIKE2015}
            div.col.s4
                h4.date-color  1727
                h5.center-align #{translation.BIKE2016}

    div.parallax-container
        div.parallax
            img(src="images/background-bike7.jpg")

    div#book.section.white.container.full-section-index
        form#booking-register-form.col.s12
            ul#stepper-booking.stepper.linear
                li.step.active
                    div.step-title.waves-effect #{translation.BOOKINGCONTACT}
                    div.step-content
                        h2.header #{translation.BOOKINGHEAD1}
                        div.row
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 edit
                                input(id="booking-register-firstname", name="firstname", type="text", required="required", aria-required="true").validate
                                label(for="booking-register-firstname") #{translation.BOOKINGFIRSTNAME}
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 edit
                                input(id="booking-register-lastname", name="lastname", type="text", required="required", aria-required="true").validate
                                label(for="booking-register-lastname") #{translation.BOOKINGLASTNAME}
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 group
                                input(id="booking-register-group", name="group", type="text").validate
                                label(for="booking-register-group") #{translation.BOOKINGGROUP}
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 local_phone
                                input(id="booking-register-phone", name="phone", type="tel", required="required", aria-required="true").validate
                                label(for="booking-register-phone") #{translation.BOOKINGPHONE}
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 email
                                input(id="booking-register-email", name="email", type="email", required="required", aria-required="true").validate
                                label(for="booking-register-email") #{translation.BOOKINGMAIL}
                            div.step-actions.col.s12
                                button.waves-effect.btn.next-step #{translation.BOOKINGNEXT}
                                    i.material-icons.left send
                li.step
                    div.step-title.waves-effect.waves-light #{translation.BOOKINGBOOK}
                    div.step-content
                        h2.header #{translation.BOOKINGHEAD2}
                        div.row
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 location_on
                                input(id="booking-register-departure", name="departureBooking",type="text").autocomplete-db.validate
                                label(for="booking-register-departure") #{translation.BOOKINGSTARTSTOP}
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 location_on
                                input(id="booking-register-terminal", name="terminalBooking",type="text").autocomplete-db.validate
                                label(for="booking-register-terminal") #{translation.BOOKINGENDSTOP}
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 date_range
                                input(type="text",id="booking-register-date", placeholder="", name="dateBooking").datepicker
                                label(for="booking-register-date") #{translation.BOOKINGDATE}
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 access_time
                                input(type="text",id="booking-register-time", placeholder="", name="timeBooking").timepicker
                                label(for="booking-register-time") #{translation.BOOKINGSTARTTIME}
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 directions_bike
                                input(type="number",name="bikesBooking", id="booking-register-bikes")
                                label(for="booking-register-bikes") #{translation.BOOKINGNBBIKE}
                            div.input-field.col.s6
                                i.material-icons.prefix.teal-text.text-lighten-1 message
                                textarea(data-length="100", maxlength="100", id="booking-register-remark").materialize-textarea.textarea-remarque
                                label(for="booking-register-remark") #{translation.BOOKINGNOTE}
                        div.col.s12
                            p #{translation.BOOKINGTERM1}
                            input(type="checkbox", id="filled-in-box", name="conditions", required="required").filled-in
                            label(for="filled-in-box", id="conditions-booking") #{translation.BOOKINGTERM2}
                        div.step-actions
                            button.waves-effect.btn.previous-step #{translation.BOOKINGBACK}
                                i.material-icons.left arrow_back

                            button(data-feedback="getBookingSuggestions").waves-effect.btn.next-step #{translation.BTNPLAN}
                                i.material-icons.left map
                li.step
                    div.step-title.waves-effect.waves-light #{translation.BOOKINGPLAN}
                    div.step-content
                        h2.header #{translation.BOOKINGPLANTRIP}
                        form(action="#")
                            ul(data-collapsible="accordion").collapsible.suggestions
                        div.step-actions
                            button.waves-effect.btn.previous-step #{translation.BOOKINGPLANBACK}
                                i.material-icons.left arrow_back
                li.step
                    div.step-title.waves-effect.waves-light #{translation.BOOKINGCONFIRM}
                    div.step-content
                        h2.header.confirmation-title #{translation.BOOKINGCONFIRMBOOK}
                        div
                            p.confirmation-message #{translation.BOOKINGMESSAGE}
                        div.resume
                        div.step-actions
                            button(data-feedback="newBooking").waves-effect.btn.next-step #{translation.BOOKINGNEWBOOK}
                                i.material-icons.left refresh

    div.parallax-container
        div.parallax
            img(src="images/background-bike8.jpg")

    div#where.section.white.container.full-section-index
        h2.header #{translation.WHEREHEAD}
            h3 #{translation.WHEREZONE}
                div.row.center-align
                    div.col.s12
                    img(src="images/buses.jpg").img-zone

    div.parallax-container
        div.parallax
            img(src="images/background-bike9.jpg")

    div#contact.section.white.container.full-section-index
        h2.header #{translation.CONTACTHEAD}
        p #{translation.CONTACTMAIN}
            div.row
                form(id="contact-form").col.s12
                    div.row
                        div.input-field.col.s6
                            i.material-icons.prefix person
                            input(id="contact-name", name="contactname" ,type="text").validate
                            label(for="contact-name") #{translation.CONTACTNAME}
                        div.input-field.col.s6
                            i.material-icons.prefix email
                            input(id="contact-email", name="contactemail", type="email").validate
                            label(for="contact-email") #{translation.CONTACTMAIL}
            div.row
                form.col.s12
                    div.row
                        div.input-field.col.s12
                            i.material-icons.prefix mode_edit
                            textarea(id="contact-message", name="contactmessage", data-length="500", maxlength="500").materialize-textarea.textarea-contact
                            label(for="contact-message") #{translation.CONTACTFORM}
            button(id="contact-button", form="contact-form", name="action" , onclick="sendContactEmail()").btn.waves-effect.waves-light.right #{translation.CONTACTSEND}
                i.material-icons.right send


